.review-form {
    margin-top: 50px;

    .review-form-wrapper {
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 1024px) {
            align-items: center;
        }

        .star-ratings .star-container {
            padding-right: 0px !important;
            padding-bottom: 10px;
        }

        .star-ratings .star-container svg {
            width: 25px !important;
            height: 25px !important;
        }

        .review__textarea {
            width: 700px;
            height: 100px;
            resize: none;

            @media only screen and (max-width: 1024px) {
                width: 500px;
            }
        }

        .review-button-form {
            width: 700px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-top: 15px;

            @media only screen and (max-width: 1024px) {
                justify-content: center;
            }

            .review__button {
                width: 150px;
                margin-right: 15px;
            }
        }
    }
}
