.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 30px 20px 0;

    .image-wrapper{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card__image{
            height: 150px;
        }
    }
    
    .card__title{
        text-align: center;
    }
}

